container
  row.cata_row.horizontal_startline
    columns small="12" medium="12" large="6"
      span
        | ¡Comienza el año con Marzo recargado!
    columns small="12" medium="12" large="6"
      span.right
        | ¿Sin imágenes?
        a href="#" Haz click acá.
container
  row.head_row
   columns small="2" medium="3" large="4"
   columns small="8" medium="6" large="4"
    spacer size="10"
    img.beerly_logo src="https://tucerveza.s3.amazonaws.com/mails/promo_march_2017/beerly_blanco.png"
   columns small="2" medium="3" large="4"
container
  row.head_row
    columns small="1"
    columns small="10"
      h1 Únete al club de cervezas artesanales chilenas
      h2 
        | $9.990/mes 
        span ¡SÓLO POR MARZO!
    columns small="1"
  row.head_row
    columns small="1"
    columns small="10"
      span.promotion_note
        | Promoción válida sólo por este mes para clientes nuevos y antiguos suscriptores quce tengan su membresía inactiva.
    columns small="1" medium="2" large="2"
  row.head_row.bg_party
    columns small="1"
    columns small="10"
      h3 6 Cervezas + Maridaje o regalo + Revista Suscribeer + Dsctos. cerveceros
      center
        a.button_converter href="http://www.beerly.cl/club"
          | COMIENZA AHORA
      span.pricing_converter
        | $9.990
    columns small="1"
container
  row.head_row
    columns small="1"
    columns small="10"
      p.note_promotion
        | El precio de $9.990 es válido solo por el mes de Marzo. Desde el siguiente mes en adelante la membresía vuelve a su precio regular de $12.990. Esta promoción es válida utilizando Webpay Oneclick.
    columns small="1"
container
  row.kitbeerly_row
    columns small="2"
    columns small="8"
      spacer size="15"
      h4 ¡Todos los meses un KitBeerly diferente!
      img src="https://tucerveza.s3.amazonaws.com/mails/promo_march_2017/kit.jpg"
    columns small="2"
container
  row.cata_row.section_cata
    columns small="1" large="2"
    columns small="10" large="8"
      spacer size="15"
      h5
        | ¿De qué se trata el 
        span KitBeerly?
      spacer size="15"
      p.kit_p 
        | Si te gusta la cerveza, probaste una artesanal y te sorprendiste. ¡Este es tu club!. Mes a mes incluimos una selección de diferentes cervezas chilenas para que descubras el gran mundo de las artesanales. Además de maridaje y/o regalos sorpresa, la revista digital Suscribeer y accesos preferenciales a eventos cerveceros.
      h3 6 Cervezas + Maridaje o regalo + Revista Suscribeer + Dsctos. cerveceros
      center
        a.button_converter href="http://www.beerly.cl/club"
          | COMIENZA AHORA
    columns small="1" large="2"
container
  row.head_row
    columns small="1" 
    columns small="10"
      spacer size="15"      
      span.siguenos
        | Síguenos en nuestras redes sociales:
    columns small="1"
container
  row.head_row.footer
    columns small="2"
    columns small="2"
      a href="https://www.facebook.com/beerlycl"
        img src="https://tucerveza.s3.amazonaws.com/mails/promo_march_2017/facebook_circle.png"
    columns small="1"
    columns small="2"
      a href="https://www.instagram.com/beerlycl"
        img src="https://tucerveza.s3.amazonaws.com/mails/promo_march_2017/instagram_circle.png"
    columns small="1"
    columns small="2"
      a href="https://www.twitter.com/beerlycl"
        img src="https://tucerveza.s3.amazonaws.com/mails/promo_march_2017/twitter_circle.png"
    columns small="2"